name: CI Pipeline

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4


    # SETUP .NET

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "9.0.x"



    # INSTALL SONAR SCANNER

    - name: Install SonarScanner for .NET
      run: dotnet tool install --global dotnet-sonarscanner



    # SONARCLOUD BEGIN (FIXED org + URL)

    - name: SonarCloud - Begin Analysis
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        dotnet-sonarscanner begin \
          /k:"A00046304_BPCalculator" \
          /o:"a00046304" \
          /d:sonar.host.url="https://sonarcloud.io" \
          /d:sonar.login="${{ secrets.SONAR_TOKEN }}" \
          /d:sonar.cs.opencover.reportsPaths="**/coverage.cobertura.xml"



    # RESTORE + BUILD

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release



    # RUN UNIT + BDD TESTS WITH COVERAGE

    - name: Run Tests with Coverage
      run: dotnet test --no-build --configuration Release \
            /p:CollectCoverage=true \
            /p:CoverletOutputFormat=cobertura \
            /p:CoverletOutput=./coverage/coverage.cobertura.xml



    # UPLOAD COVERAGE REPORT

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: "**/coverage.cobertura.xml"


   
    # SONARCLOUD END (FIXED)
 
    - name: SonarCloud - End Analysis
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: dotnet-sonarscanner end \
          /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
